<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<std::string>English</std::string>
		<key>CFBundleIdentifier</key>
		<std::string>com.apple.xcode.dsym.test_lex</std::string>
		<key>CFBundleInfoDictionaryVersion</key>
		<std::string>6.0</std::string>
		<key>CFBundlePackageType</key>
		<std::string>dSYM</std::string>
		<key>CFBundleSignature</key>
		<std::string>????</std::string>
		<key>CFBundleShortVersionstd::string</key>
		<std::string>1.0</std::string>
		<key>CFBundleVersion</key>
		<std::string>1</std::string>
	</dict>
</plist>
